.calc {
    width: 272px;
    height: 364px;
    background: #ecebe9;
    margin-left: 100px;
    border: solid 1px;
  }

  #screen {
    width: 266px;
    height: 70px;
    pointer-events: none;
    border: solid 1px;
  }
.btn {
    width: 65px;
    height: 58px;
    border: solid 1px;
}
.top-row {
    width: 134px;
    height: 58px;
    border: solid 1px;
  }