.calc {
    width: 272px;
    height: 364px;
    background: #fff;
    margin-left: 100px;
    border: solid 1px;
  }

  #screen {
    width: 266px;
    height: 70px;
    pointer-events: none;
    border: solid 1px;
    background:local;
  }
  .btn {
    width: 65px;
    height: 58px;
    border: solid 1px;
    background: none;
  }
.top-row {
    width: 134px;
    height: 58px;
    border: solid 1px;
    background:auto;
  }