.point1
{
    width: 1px;
    height: 1px;
    background: black;
    float:left;
}
.point2
{
    width: 1px;
    height: 1px;
    background: black;
    float:left;
}
.point3
{
    width: 1px;
    height: 5px;
    background: black;
    float:left;
}
.point4
{
    width: 1px;
    height: 1px;
    background: black;
    float:left;
}
.point5
{
    width: 1px;
    height: 1px;
    background: black;
    float:left;
}